@use './variables' as *;

.First-section{
  // position: absolute;
  width: 396px;
  height: 832px;
  left: 16px;
  top: 79px;
}

.First-section__Title{
// position: absolute;
// width: 314px;
// height: 32px;
// left: 687px;
// top: 374px;


font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 39px;
display: flex;
align-items: center;
text-align: center;
color: #8C9CB1;
}

.First-section__big-heading{
  // position: absolute;
// width: 1108px;
// height: 192px;
// left: 306px;
// top: 439px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 80px;
line-height: 120%;
/* or 96px */

display: flex;
align-items: center;
text-align: center;

/* Deep Navy */

color: #272643;
}

.First-section__Sub-heading{
  // position: absolute;
// width: 221px;
// height: 24px;
// left: 31.5px;
// top: 27px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

/* Deep Navy */

color: #272643;
}