.footer{
  width: 100%;
  background-color: #272643;
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 4;
}

.footer__social{
  display: flex;
  align-items: center;
  gap: 1rem;
  
}

.footer__social-icon{
  display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bae8e8;
    border-radius: 50%;
    padding: 1rem;
   
}
