.my-projects{
  color: #272643;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  display: flex;

  flex-direction: column;
  // padding: 4rem;
  
}

.my-projects__projectTitle{
  font-size: 2rem;
  
}

.my-projects__grid-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  // max-width: 440px;
}
.my-projects__grid-card-blueBackground{

  background-color: #E3F6F5;
    width: 15rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


.my-projects__grid-card-detail-skill{
  color: #BAE8E8;
  font-size: 1rem;
}
.my-projects__grid-card-detail-title{
  color: #272643;
  font-size: 1.5rem;
}
.my-projects__grid-card-detail{

}





@media screen and (min-width: 768px)  {
  
 .my-projects__grid{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   width: 100%;
  
   
 }
  }


  @media screen and (max-width: 768px) {
    .my-projects__Desktop {
      display: none;
     
    }
  }