@use './variables' as *;

.navbar__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;


  .nav-bar__detail{
    color: grey;
    list-style-type: none;
    
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
  }
}

 