@use './variables' as *;

.nav-bar{

  
box-sizing: border-box;
justify-content: center;
left: 1429px;
top: 47px;
color: black;
border: 1px;


  .nav-bar__detail{
    color: grey;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

 