@use './variables' as *;

.tech-skills{
  color: #272643;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;

}

  .tech-skills__titleSkills{
    // position: relative;
    object-position: center;
    text-align: center;
    font-size: 3rem;
    gap: 1.5rem;
  }
 
.tech-skills_subHead{
  font-size: 2rem;
}

.tech-skills__photos{
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns:  repeat(3,1fr);
 
  
}

@media screen and (min-width: 768px)  {
  .tech-skills__photos{
  display: grid;
  grid-template-rows: 0fr;
  grid-template-columns:  repeat(9,1fr);
 
  }
}