@use './variables' as *;

.tech-skills{
  color: #272643;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

  .tech-skills__titleSkills{
    // grid-row-start: 1;
    // grid-row-end: 2 ;
    // grid-column-start: 2;
    // grid-column-end:4 ;
  }
 


.tech-skills__photos{
  display: flex;
  
}