@use "./nav-bar" as *;
@use "./variables" as *;
@use "./First-section" as *;
@use "./tech-skills" as *;
@use "./main-section" as *;
@use "./my-projects" as *;


*{
  // width: 32.5rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  @media screen and (min-width: 768px)  {
  
  body {
    width: 50px;
    

}
  }




